@import url(https://fonts.googleapis.com/css?family=Raleway:400,300,800);
@import url(https://fonts.googleapis.com/css?family=Lato:300,700);


.flipCard {
   /* width: 525px;
   height: 300px; */
   width: 375px;
   height: 215px;
   font-family: 'Lato', sans-serif;
   background-color: #fff;
   /* font-variant: small-caps; */
   letter-spacing: 1px;

   /*center everything*/
   position: fixed;
   top: 50%;
   left: 50%;
   /* width:50% */
   transform: translate(-50%, -50%);
   -webkit-transform: translate(-50%, -50%);
   -moz-transform: translate(-50%, -50%);
   -o-transform: translate(-50%, -50%);
   -ms-transform: translate(-50%, -50%);

}

.flipCard .card.flipped {
  transform:rotatey(-180deg);
  -ms-transform:rotatey(-180deg); /* IE 9 */
  -moz-transform:rotatey(-180deg); /* Firefox */
  -webkit-transform:rotatey(-180deg); /* Safari and Chrome */
  -o-transform:rotatey(-180deg); /* Opera */
  background-color: #0B3D91;
  box-shadow:  0 3px 6px rgba(0, 0, 0, 0.26);
}

.flipCard .card .back {
  transform:rotatey(-180deg);
  -ms-transform:rotatey(-180deg); /* IE 9 */
  -moz-transform:rotatey(-180deg); /* Firefox */
  -webkit-transform:rotatey(-180deg); /* Safari and Chrome */
  -o-transform:rotatey(-180deg); /* Opera */
  background-color: #0B3D91;
}

.flipCard .card {
  width: 100%;
  height: 100%;
  -webkit-transform-style: preserve-3d;
  -webkit-transition: 0.5s;
  -moz-transform-style: preserve-3d;
  -moz-transition: 0.5s;
  -ms-transform-style: preserve-3d;
  -ms-transition: 0.5s;
  -o-transform-style: preserve-3d;
  -o-transition: 0.5s;
  transform-style: preserve-3d;
  transition: 0.5s;
  box-shadow:  0 3px 6px rgba(0, 0, 0, 0.26);

}

.flipCard .card .side {

  display: inline-block;
  justify-content: center;
  text-align: center;
  align-items: center;
  cursor: pointer;
  position: absolute;

  z-index: 2;
  backface-visibility: hidden;  /* W3C */
  -webkit-backface-visibility: hidden; /* Safari & Chrome */
  -moz-backface-visibility: hidden; /* Firefox */
  -ms-backface-visibility: hidden; /* Internet Explorer */
  -o-backface-visibility: hidden; /* Opera */
  overflow: auto;
}

.flipCard .card .front {
  width: 88.5%;
  height: 80%;
  font-size: 0.9em;
  /* text-align: center; */
  color:#0B3D91;
  border: solid 1px #0B3D91;
  vertical-align: middle;
  font-variant: small-caps;
  /*center everything*/
  position: fixed;
  top: 50%;
  left: 50%;
  /* width:50% */
  transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
}

.flipCard .card .back {
  /* left:0px; */
  top:10%;
  right:5%;
  width: 90%;
  height: 80%;
  font-size: 0.9em;
  text-align: left;
  color: white;
  text-transform:uppercase;
}


dl dt{
  float: left;
  width: 80px;
  overflow: hidden;
  clear: left;
  /* text-align: right; */
  font-weight:700;
}

dl dd{
  margin-left: 100px;
  text-align:left;
}

@media (max-width:700px) {
  /* .flipCard {transform: scale(1); } */
  .flipCard {
    }

  /* flipCard { transform: scale(.5) rotateY(-180deg) translateZ(1px); } */
}
