body {
    font-weight: 400;
    font-size: 14px;
    font-family: monospace; /* Use Monaco font with monospace as fallback */
    color: grey; /* Set font color to grey */
    margin-top: 10%; /* Set top margin to 200px */
    margin-bottom: 10%; /* Set bottom margin to 200px */

}

.main-page {
    width: 400px; /* Set width of main page to 400px */
    margin: 0 auto; /* Center align main page horizontally */
}

.text-box {
    margin-top: 40px;
    margin-bottom: 40px;
    text-align: justify;
}
/* Normal link color */
a {
    color: #2bbc8a; /* Teal color */
    letter-spacing: 2px;
    text-decoration: underline; /* Remove underline by default */
}

/* Link color during hover */
a:hover {
    color: orange; /* Change color to orange on hover */
}


.title {
    font-weight: 400;
    font-size: 24px;
    line-height: 14px;
    display: inline-block; /* Make the title and icon appear on the same line */
    margin-right: 20px; /* Adjust the margin between the title and icon */
}

.icon img {
    float: left;
    margin-right: 20px;
    width: 60px;
    border-radius: 5px;
    background-size: 50px;
    background-repeat: no-repeat;

    /* Align the icon vertically centered with the title */
}

.nav {
  vertical-align: middle;
  color: #2bbc8a;
  font-weight: 200;
  letter-spacing: 2px;
}


/* Media query for devices with a minimum width of 768px (landscape orientation) */
@media screen and (min-width: 768px) {
    body {
        margin-left: 20px !important; /* Override the default margin */
        margin-right: 20px !important; /* Override the default margin */
    }
}

/* Media query for devices with a maximum width of 767px (portrait orientation) */
@media screen and (max-width: 767px) {
    body {
        margin-left: 20px !important; /* Override the default margin */
        margin-right: 20px !important; /* Override the default margin */
    }
}
